{% extends "base.html" %}

{% block main %}
<div class="span12 middle" ng-app>
    <h1>What's are you feeling?</h1>
    <p class="lead">
        Tell us what's your feeling ...
    </p>

    <div class="container" id="select-pd-container"><div class="row">
    
        <div class="span1 offset2">
            <a class="btn btn-large btn-warning" type="button"
            href="#" id="select-p">
                Pleasure
            </a>
        </div>
        <div class="span1 offset1">
            <a class="btn btn-large btn-inverse" type="button"
            href="#" id="select-d">
                Depress
            </a>
        </div>

    </div></div>

    <div class="container hide" id="homepage-form-container"><div class="row">

        <div class="span6 offset1">
            <p>
                <form id="homepage-form" action="/card/create/" method="POST">
                    {% csrf_token %}
                    <div class="hide">
                    <input type="text" name="type"></input>
                    </div>

                    <div class="row form-text"><div class="span6">
                        <textarea rows="5" name="content"></textarea>
                    </div></div>

                    <!-- actions -->
                    <div class="row actions">
                        <div class="span6">
                            <p id="select-p-confirm">
                            <button type="submit" class="btn btn-primary">
                                Keep this good story
                            </button>
                            <button type="submit" class="cancel">Cancel</button>
                            </p>

                            <p id="select-d-confirm">
                            <button type="submit" class="btn btn-danger">
                                Burn it!
                            </button>
                            <button type="submit" class="cancel">Cancel</button>
                            </p>
                        </div>
                    </div>
                </form>
            </p>
        </div>

    </div></div>
</div>
{% endblock %}