{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}card-list{% endblock %}

{% block main %}
<div class="span6 offset3">
	<ul id="emo-stream" class="unstyled">
		{% for card in cards %}
		<li class="well">
			<div class="emo-type emo-type-p"></div>
			<div class="story">
				{{ card.content|striptags }}
			</div>
			<div class="meta">
				<div class="published_date">
					<span class="timesince">{{ card.publish_date|timesince }}</span>
					{% trans "ago" %}
				</div>
				<div class="tags">
					<ul>
					{% for tag in card.keywords.all %}
					<li>
						<span class="label label-warning">{{ tag.keyword }}</span>
					</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}