#homepage-form .actions {
	text-align: center;
}

#homepage-form .form-text {
	text-align: center;
}

#homepage-form textarea {
	font-size: 30px;
	line-height: 30px;
	padding: 30px;
}

.hide {
	display: none;
}

#select-pd-container {

}

.burning-text {
	color: #fff;
    text-shadow: 0px -1px 4px white, 0px -2px 10px yellow, 0px -10px 20px #ff8000, 0px -18px 40px red;
}

#emo-stream li .story {
	font-size: 2em;
}
.meta {
	margin-top: 20px;
	overflow: hidden;
}
.tags ul {margin: 0; padding: 0;}
/*.tags li {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #ccc;
	padding: 1px 5px;
}*/
.published_date {
	float: right;
	background-color: #ededed;
	padding: 5px 10px;
	border-radius: 5px;
}
body.card-list {
	background-color: #ff73d6;
}

.gauge {
	width: 100px;
	height: 100px;
}